@charset "utf-8";
/* CSS Document */
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0; padding: 0; -webkit-text-size-adjust: none;   /*  Fix Chrome Font size limit */ }
li { list-style: none; }
table { border-collapse: collapse; border-spacing: 0; font-size: inherit; font: 100%; }
fieldset, img { border: none; }
address, caption, cite, code, dfn, em, th, var { font-style: normal; font-weight: normal; }
img { vertical-align: middle; }
abbr, acronym { border: none; font-variant: normal; }
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
input, button, textarea, select { font-size:100%; }
input { vertical-align: middle; }
select, input, button, textarea { font: 100% Verdana, Arial, Helvetica, sans-serif; }
pre, code, kbd, samp, tt { font-family: Verdana, Arial, Helvetica, sans-serif; }
small { font-size: 100%; }
ins { text-decoration: none; }
pre{
white-space:pre-wrap;       /* css-3 */
white-space:-moz-pre-wrap;  /* Mozilla, since 1999 */
white-space:-pre-wrap;      /* Opera 4-6 */
white-space:-o-pre-wrap;    /* Opera 7 */
word-wrap:break-word;       /* Internet Explorer 5.5+ */
}

